node_modules/
__pycache__/
*.pyc
*.db
dist/
.vscode/

# Celery Beat scheduler files
backend/celerybeat-schedule
backend/celerybeat-schedule.bak
backend/celerybeat-schedule.dat
backend/celerybeat-schedule.dir
celerybeat-schedule.*

